<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".RescuerApplication"
        android:allowBackup="false"
        android:label="RescueGrid Responder"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rescuer">

        <activity android:name=".PttActivity" android:exported="false" />
        <activity android:name=".CommandInboxActivity" android:exported="false" />
        <activity android:name=".EvidenceActivity" android:exported="false" />
        <activity android:name=".ActivityTimelineActivity" android:exported="false" />
        <activity android:name=".MissionActivity" android:exported="false" />
        <activity android:name=".OfflineSyncActivity" android:exported="false" />
        <activity android:name=".MapActivity" android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".tracking.RescueLocationService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />
        <service
            android:name=".ptt.PttAudioService"
            android:exported="false"
            android:foregroundServiceType="microphone|mediaPlayback"
            android:stopWithTask="false" />
    </application>
</manifest>
